= render 'items/header'
%main.l-container.clearfix
  .l-content
    %section.mypage-user-icon
      %a{:img => "user-bg.jpg"}
        %figure
          %img{:src => "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png", :width => "60"}/

        %h2.bold
          ユーザーネーム
        .mypage-number
          %div
            評価
            %span.bold
              0
          %div
            出品数
            %span.bold
              0
    = render 'notification-todo'
    = render 'purchased'
  = render 'l-side'
= render 'items/footer'
