.main-content
  = render 'registration-header'

  .main-content__signup
    .main-content__signup-content
      .main-content__signup-content-head 新規会員登録
      .main-content__signup-content-main
        .main-content__signup-content-main-content
          %button.e-mail
            %i.fa.fa-envelope
            = link_to 'メールアドレスで登録', new_user_registration_path,class: 'e-mail-link'
          %button.facebook-regist
            %i.fab.fa-facebook.fa-pull-left
            = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path,class: 'facebook-regist-link'
          %button.google-regist
            %i.fab.fa-google.fa-pull-left
            = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path,class: 'google-regist-link'


  = render 'registration-footer'
