%header
  .header__mercari
    = image_tag "top_image/logo.svg", class: 'mercari_logo'
    = form_tag('/items/search', method: :get, class: 'search', name: 'form') do
      %input.mercari-header{:name => "keyword", :placeholder => "キーワードから探す", :type => "text", :value => ""}/

  .header__navi
    .header__navi__left
      = link_to "カテゴリーから探す", categories_path, class: 'left'
      %p.left ブランドから探す
    .header__navi__right
      = image_tag "top_image/member_photo_noimage_thumb.png", class: 'mypage_logo'

      = link_to "マイページ", profiles_path, class: 'right'
      %i.far.fa-bell
      %p.right お知らせ
      %i.fas.fa-check
      %p.right やることリスト
