%header
  .header__mercari
    = image_tag "top_image/logo.svg", class: 'mercari_logo'
    = form_with url: items_path, method: :get, local: true,class: 'search' do |f|
      .form-group
        = f.text_field :class => 'search', name: 'keyword'
      = f.submit 'Search', class: 'search_btn'

  .header__navi
    .header__navi__left
      %p.left カテゴリーから探す
      %p.left ブランドから探す
    .header__navi__right
      = image_tag "top_image/member_photo_noimage_thumb.png", class: 'mypage_logo'
      %p.right マイページ
      %i.far.fa-bell
      %p.right お知らせ
      %i.fas.fa-check
      %p.right やることリスト