.individual_item_container{"dataItem_id": @item.id}
  .individual_item_container__item_name
    = @item.name
  .individual_item_container__item_flex
    .individual_item_container__item_image
      = image_tag @item.image.url, class: "showImg" if @item.image.present?
      .sold
        = @item.status
    %table
      %tr.exhibitor
        %th.exhibitor 出品者
        %td.exhibitor
          = @item.user.profile.name
          %i.fas.fa-smile-beam 5
          %i.fas.fa-meh 5
          %i.fas.fa-sad-tear 5

      %tr.category
        %th.category カテゴリー
        %td.category
          = @item.id
      %tr.show
        %th.show ブランド
        %td.show
          = @item.brand_id
      %tr.show
        %th.show 商品のサイズ
        %td.show 一般的なドアの大きさ
      %tr.show
        %th.show 商品の状態
        %td.show
          = @item.item_status
      %tr.show
        %th.show 配送料負担
        %td.show
          = @item.delivery_charge_burden
      %tr.show
        %th.show 配送方法
        %td.show Time Machine
      %tr.ligion
        %th.ligion 配送地域
        %td.ligion
          = @item.prefecture
      %tr.show
        %th.show 配送日の目安
        %td.show
          = @item.days_up_to_delivery

  .individual_item_container__item_price ¥ #{ @item.price.to_s(:delimited) } (税込)
  .individual_item_container__item_burden
    = @item.delivery_charge_burden

  - if @item.status == "sold"
    .individual_item_container__item_sold 売り切れてしまいました
  - elsif current_user != @item.user
    %button.individual_item_container__item_button 購入画面に進む
  .individual_item_container__item_description
    %p #{ @item.description }
    .individual_item_container__box
      .individual_item_container__box__like_button
        %i.far.fa-heart いいね！
      .individual_item_container__box__report_button
        %i.far.fa-flag  不適切な商品の報告
      .individual_item_container__box__message
        %i.fas.fa-lock あんしん・あんぜんへの取り組み
  - if current_user == @item.user && @item.status == "sale"
    .itemShow-container
      %button 編集する
      .textCenter or
      %button 一時停止
      %button 削除する
