= render 'header'

.pickup_show
  = render partial: 'individual'

  .comment-container
    .comment-container__box
      .comment-container__box__icon
        = image_tag "top_image/user-icon.svg"
        .comment-container__box__body
          安くしてください
          %i.far.fa-clock
            5日前

      .comment-container__box__icon
        = image_tag "top_image/user-icon.svg"
        .comment-container__box__body
          安くしてください
          %i.far.fa-clock
            5日前

      .comment-container__box__icon
        = image_tag "top_image/user-icon.svg"
        .comment-container__box__body
          安くしてください
          %i.far.fa-clock
            5日前

      %p.comment 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .comment-container__box__comment
        %textarea.comment-cantainer__box__comment{:cols => "50", :name => "example", :rows => "10"}
      .comment-container__box__button コメントする
  .link_prev_next
    .link_prev 前に戻る
    .link_next 次に進む
  .item_social_media_box
    %i.fab.fa-facebook-square
    %i.fab.fa-twitter-square
    %i.fab.fa-pinterest-square

  .user_others__items
    #{@item.user.profile.name}さんのその他の出品
  .new_pickup__category__individual_new
    - @others.each do |other|
      = link_to item_path(other.id), class: "new_pickup__category__new__contents_box" do
        .sold
        = other.status
        = image_tag other.avatar, class: "showImg"
        .item_box_body
          .item_box_body__name
            = other.name
          .item_box_body__num
            .item_box_body__num__price ¥ #{ other.price.to_s(:delimited) }
            .item_box_body__num__tax (税込)
            %i.far.fa-heart 4


  .user_others__items
    #{@item.category_id}のその他の商品
  .new_pickup__category__individual_new
    - @others.each do |other|
      =link_to  item_path(other.id), class: "new_pickup__category__new__contents_box" do
        .sold
        = other.status
        = image_tag other.avatar, class: "showImg"
        .item_box_body
          .item_box_body__name
            = other.name
          .item_box_body__num
            .item_box_body__num__price ¥ #{ other.price.to_s(:delimited) }
            .item_box_body__num__tax (税込)
            %i.far.fa-heart 4

= render 'footer'
