%h1 ようこそ管理者画面へ！

%p ほしいコマンドがあったらSlackでぶん投げてください。自分で追加してもらっても構わないです。

= link_to 'ログアウト', destroy_user_session_path, method: :delete
= link_to '新規登録', new_user_registration_path
= link_to 'ログイン', new_user_session_path
= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path
= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path
= link_to '商品購入確認', '/admin/users/show'
